.navbar {
  background-color: rgb(27, 27, 27);
  background-image: url("../../assets/images/Henrygames-navbar-background.png");
  background-size: 100%;
  background-position: center;
  height: 45vh;
  display: flex;
  justify-content: flex-start;
  margin-bottom: 2%;
}

.navbar-title-container {
  height: 18%;
  width: 35%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar-title {
  font-weight: lighter;
  color: rgb(255, 255, 0);
}

.navbar-menu {
  height: 18%;
  width: 35%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.navbar-link-container {
  height: 100%;
  width: 100%;
  border-top: 0.6em solid rgb(238, 45, 45);
  cursor: pointer;
}

.navbar-link-container:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.navbar-link {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  text-decoration: none;
  color: inherit;
};

.navbar-link:visited {
  text-decoration: none;
}

.navbar-link:hover {
  color: rgb(238, 45, 45);
}